@font-face {
    font-family: 'Medium';
    src: url(../fonts/GoogleSans-Medium.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(../fonts/GoogleSans-Bold.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Medium';
    color: white;
}

html {
    background-color: #343434;
}

/* App Container */
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    will-change: overflow;
    width: 100vw;
    padding: 16px;
}

.media-detail-area {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
}

.sidebar {
    flex-basis: 20%;
    background-color: #121212;
}

.picture-list {
    flex-basis: 80%;
    z-index: 1;
    min-height: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    margin: 24px 12px;
    padding: 8px 8px 40px 8px;
}

::-webkit-scrollbar {
    width: 0px;
}

.panel {
    height: 250px;
    filter: grayscale(0.5);
    transition: 0.4s ease-in-out;
    will-change: filter;
}

.panel:hover {
    filter: grayscale(0);
}

.panel img {
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    height: 10%;
    align-content: center;
    align-items: center;
    font-size: 0.75em
}

.item-count {
    padding: 4px 8px 4px 32px;
}

.folder-size {
    padding: 4px 8px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
}

.modal-is-inactive {
    opacity: 0;
    z-index: -1;
}

.modal-is-active {
    opacity: 1;
    z-index: 10;
}

.modal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-nav-left, .modal-nav-right {
    height: 50%;
    width: 10%;
    position: absolute;
    background: transparent;
    top: 25%;
    opacity: 0;
    font-size: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.modal-nav-left {
    left: 0;
}

.modal-nav-left:hover {
    opacity: 1;
}

.modal-nav-right {
    right: 0;
}

.modal-nav-right:hover {
    opacity: 1;
}